@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body{
	background-color: ghostwhite;
	display: flex;
	height: 100vh;
	margin: 0px;
	flex-direction: column;
	background-color: rgba(0,0,150,000%);

}

#nav-element-navigation a{
	text-decoration: none;
	font-family: "Rubrik", sans-serif;
	color: darkslategrey;
	font-size: 18px;
	font-weight: 500;
}
#nav-element-navigation a:hover{
	color: #707070;
}
#nav-element-navigation a:active{
	color: #26FF34;
}

nav{
	user-select: none;
	display: flex;
	width: 100%;
	background-color: rgba(0,150,0,00%);
}

#nav-element-navigation{
	display: flex;
	gap: 15px;
	margin-left: auto;
	padding-right: 1rem;
	padding-top: 1rem;
	background-color: rgba(0,150,0,00%);
}

#nav-element-logo{
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	background-color: rgba(0,150,0,00%);
	justify-content: center;
	padding-left: 1rem;
}

#nav-element-logo-sub{
	font-size: 10px;
	position: relative;
	top: -20px;
}

*{
	box-sizing: border-box;
}

main{
	flex-grow: 1;
	background-color: rgba(150,0,0,00%);
	display: grid;
	height: 100%;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr 1fr;
}

.main-grid{
	border: 1px rgba(150,0,0,00%) solid;
}

#terminal-window{
	font-family: monospace;
	font-size: 20px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #EBDBB2;
}

#terminal-window p{
	border-top: 30px lightgray solid;
	border-radius: 5px;
	background-color: #32302F;
	width: 70%;
	padding: 10px;
	padding-bottom: 100px;
}

#description{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Quicksand', serif;
	font-size: 50px;
}

#description p{
	max-width: 40%;
}

#terminal-window a{
	color: #98971A;
	text-decoration: none;
}

.blinking-cursor {
	font-weight: bold;
	font-size: 20px;
	color: #EBDBB2;
	animation: 1.3s blink step-end infinite;
}

@keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: #EBDBB2;
	}
}
